@model dynamic
<div class="container" style="margin-left:300px">
    <h2 class="mt-4">Chart</h2>

    <div>
        <a href="@Url.Action("Index")" class="btn btn-primary">FarmLocation</a>
        <a href="@Url.Action("BreedChart")" class="btn btn-primary">Breed</a>
    </div>


    <canvas id="barChart" class="mt-5" style="display: block; height: 500px;"></canvas>
</div>


<!-- Graphs -->
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.7.1/dist/Chart.min.js"></script>
<script>
    var ctxB = document.getElementById("barChart").getContext('2d');
    var myBarChart = new Chart(ctxB, {
        type: 'bar',
        data: {
            labels: @Html.Raw(Json.Serialize(Model.locations)),
            datasets: [{
                label: 'Cattle Qty per Area',
                data: @Html.Raw(Json.Serialize(Model.userCounts)),
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255,99,132,1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    scaleLabel: {
                        display: true,
                        labelString: 'Quantity'
                    },
                    ticks: {
                        beginAtZero: true
                    }
                }],
                xAxes: [{
                    scaleLabel: {
                        display: true,
                        labelString: 'Location'
                    }
                }]
            }
        }
    });
</script>