@page
@model LoginModel
<link rel="stylesheet" href="~/css/login.css">
@{
    ViewData["Title"] = "Log in";
}

<section class="background"></section>
<div class="wrapper">
    <div class="container">
        <div class="box">
            <h1 style="font-size: 80px; font-weight: bolder; letter-spacing: 5px;">Welcome</h1>

            <form class="form" id="account" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="email" placeholder="Email" class="text" asp-for="Input.Email">
                <span asp-validation-for="Input.Email" class="text-danger"></span>
                <input type="password" placeholder="Password" class="text" asp-for="Input.Password">
                <span asp-validation-for="Input.Password" class="text-danger"></span>
                <button type="submit" id="login-submit">Login</button>
                <div>
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>
                </div>
            </form>
        </div>
    </div>

    <ul class="bg-bubbles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<script>
    $("#login-button").click(function (event) {
        event.preventDefault();

        $('form').fadeOut(500);
        $('.wrapper').addClass('form-success');
    });
</script>
