@page
@using rfidProject.Data.Enum;
@model RegisterModel

<link rel="stylesheet" href="~/css/register.css">

@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>


<section class="background"></section>
<div class="wrapper">
    <div class="container">
        <div class="box">
            <h1>Sign Up</h1>

            <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="email" placeholder="Email" class="text" asp-for="Input.Email">
                <input type="password" placeholder="Password" class="text" asp-for="Input.Password">
                <input type="password" placeholder="Confirm Password" class="text" asp-for="Input.ConfirmPassword">
                <label>
                    <input type="radio" name="radio-buttons" value="producer">   Producer
                </label>

                <label>
                    <input type="radio" name="radio-buttons" value="slaughterhouse">   Slaughterhouse
                </label>
                <br>
                <div id="producer-fields" style="display:none">
                    <br>
                    <input type="text" placeholder="Ownername" class="text" asp-for="Input.Producer.OwnerName">
                    <span asp-validation-for="Input.Producer.OwnerName" class="text-danger"></span>
                    <input type="text" placeholder="Farmname" class="text" asp-for="Input.Producer.FarmName">
                    <span asp-validation-for="Input.Producer.FarmName" class="text-danger"></span>
                    <select asp-for="Input.Producer.FarmLocation">
                        <option>Bangkal</option>
                        <option>Bunawan</option>
                        <option>Calinan</option>
                        <option>Carmen</option>
                        <option>Maa</option>
                        <option>Matina</option>
                        <option>Panacan</option>
                        <option>Puan</option>
                        <option>Talomo</option>
                        <option>Tibungco</option>
                        <option>Toril</option>
                        <option>Ulas</option>
                    </select>
                    <span asp-validation-for="Input.Producer.FarmLocation" class="text-danger"></span>
                    <input type="text" placeholder="Description" class="text" asp-for="Input.Producer.Description">
                    <input type="text" placeholder="Contact Info" class="text" asp-for="Input.Producer.ContactInfo">
                    <input type="file" placeholder="Contact Info" class="text" asp-for="Input.ImageFile">
                </div>

                <div id="slaughterhouse-fields" style="display:none">
                    <br>
                    <!--Dropdown for Accreditation rate-->
                    <select asp-for="Input.SlaughterHouse.AccreditationRate">
                        <option>Grade_A</option>
                        <option>Grade_AA</option>
                        <option>Grade_AAA</option>
                    </select>
                    <span asp-validation-for="Input.SlaughterHouse.AccreditationRate" class="text-danger"></span>
                    <input type="text" placeholder="Location" class="text" asp-for="Input.SlaughterHouse.Location">
                    <input type="text" placeholder="Description" class="text" asp-for="Input.SlaughterHouse.Description"  />
                    <input type="text" placeholder="Contact Info" class="text" asp-for="Input.SlaughterHouse.ContactInfo">

                </div>

                <br>
                <button id="registerSubmit" type="submit" >Register</button>
            </form>
        </div>
    </div>

    <ul class="bg-bubbles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>


<script>
    const producerFields = document.querySelector('#producer-fields');
    const slaughterhouseFields = document.querySelector('#slaughterhouse-fields');

    const radioButtons = document.querySelectorAll('input[name="radio-buttons"]');
    radioButtons.forEach(function (radioButton) {
        radioButton.addEventListener('change', function () {
            if (radioButton.value === 'producer') {
                producerFields.style.display = 'block';
                slaughterhouseFields.style.display = 'none';
            } else if (radioButton.value === 'slaughterhouse') {
                producerFields.style.display = 'none';
                slaughterhouseFields.style.display = 'block';
            }
        });
    });
</script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
