@{
    ViewData["Title"] = "Home Page";
}
<div>
<div id="landingpage">
    <div class="d-flex justify-content-between align-items-center">
        <div class="m-5">
            <h1>Safe Meat For All!</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            </p>
            <a type="button" class="btn btn-primary" asp-controller="Trace" asp-action="Index">Try Tracing</a>
        </div>
        <div class="mx-5">
            <img src="~/Images/a cow.png" alt="a cow" width="600" height="600" />
        </div>
    </div>
</div>


<div style="margin-top: 300px" id="directories">
    <div class="mb-5">
        <h1>Featured Directories</h1>
        <a src="#">View more...</a>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-4">
                <img src="https://picsum.photos/300/200" alt="image" class="img-fluid">
            </div>
            <div class="col-md-4 mb-4">
                <img src="https://picsum.photos/300/200" alt="image" class="img-fluid">
            </div>
            <div class="col-md-4 mb-4">
                <img src="https://picsum.photos/300/200" alt="image" class="img-fluid">
            </div>
            <div class="col-md-4 mb-4">
                <img src="https://picsum.photos/300/200" alt="image" class="img-fluid">
            </div>
            <div class="col-md-4 mb-4">
                <img src="https://picsum.photos/300/200" alt="image" class="img-fluid">
            </div>
            <div class="col-md-4 mb-4">
                <img src="https://picsum.photos/300/200" alt="image" class="img-fluid">
            </div>
        </div>
    </div>

</div>

<div id="rfidProjectContexts" style="margin-top: 200px" class="text-center">
    <h1 class="mb-4">Registrations Are Available Here!</h1>
    <div class="row">
        <div class="col-sm-6">
            <div class="card pt-lg-5">
                <div class="card-body text-xl-center p-4 ">
                    <img src="~/Images/customer.png" alt="rfidProjectContext" width="200" height="200" />
                    <h5 class="card-title">rfidProjectContext</h5>
                    <p class="card-text">Sign here to register</p>
                    <a href="#" class="btn btn-primary">Sign Up</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card pt-lg-5">
                <div class="card-body text-xl-center p-4">
                    <img src="~/Images/meat.png" alt="Slaughter house" width="200" height="200"/>
                    <h5 class="card-title">Slaughter House</h5>
                    <p class="card-text">Sign here to register</p>
                    <a href="#" class="btn btn-primary">Sign Up</a>
                </div>
            </div>
        </div>
    </div>
</div>


<footer class="border-top footer text-muted text-xl-center">
        <div class="container mt-xxl-5">
            &copy; 2023 - rfidProject - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
</footer>

</div>

