@using Microsoft.AspNetCore.Identity;
@inject UserManager<AppUser> UserManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - rfidProject</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/bootswatch.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/rfidProject.styles.css" asp-append-version="true" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
    
</head>
<body>

    
    @if (User.Identity.IsAuthenticated)
    {

        <link rel="stylesheet" href="~/css/producer-nav.css">
        <nav class="main-menu">
                <div>
                    <a href="#">
                        <img src="~/Images/logo-white.png" alt="Safe Meat For All" class="logo">
                    </a>
                </div>
          @if (User.IsInRole("Administrator"))
          {
                <ul>
                    <li>
                        <a asp-controller="Dashboard" asp-action="Index">
                            <i class="bi bi-2x bi-bar-chart-line"></i>
                            <span class="nav-text">
                                Supply Dashboard
                            </span>
                        </a>

                    </li>
                    <li class="has-subnav">
                        <a asp-controller="CattleRegs" asp-action="Index">
                            <i class="bi bi-2x bi-table"></i>
                            <span class="nav-text">
                                Supply Table
                            </span>
                        </a>

                    </li>
                    <li class="has-subnav">
                        <a asp-controller="CattleRegs" asp-action="Create">
                            <i class="bi bi-2x bi-broadcast"></i>
                            <span class="nav-text">
                                Cattle Registration
                            </span>
                        </a>

                    </li>
                    <li class="has-subnav">
                        <a asp-controller="ListOfProducer" asp-action="Index">
                            <i class="bi bi-2x bi-person-lines-fill"></i>
                            <span class="nav-text">
                                Producers List
                            </span>
                        </a>

                    </li>
                    <li class="has-subnav">
                        <a asp-controller="ListOfSlaughterHouse" asp-action="Index">
                            <i class="bi bi-2x bi-buildings-fill"></i>
                            <span class="nav-text">
                                Slaughterhouse List
                            </span>
                        </a>

                    </li>
                    <li class="has-subnav">
                        <a asp-area="" asp-controller="Trace" asp-action="Index">
                            <i class="bi bi-2x bi-search"></i>
                            <span class="nav-text">
                                Trace
                            </span>
                        </a>

                    </li>


                </ul>

                
          }

           @if (User.IsInRole("Producer"))
           {
            

            
                <ul>
                    <li class="has-subnav">
                        <a asp-area="" asp-controller="Producer" asp-action="Index">
                            <i class="bi bi-2x bi-person-bounding-box"></i>
                            <span class="nav-text">
                                Producer Profile
                            </span>
                        </a>

                    </li>
                    <li class="has-subnav">
                        <a asp-area="" asp-controller="Producer" asp-action="SlaughterCattle">
                            <i class="bi bi-2x bi-list-ul"></i>
                            <span class="nav-text">
                                Registered Cattle
                            </span>
                        </a>

                    </li>
                    <li class="has-subnav">
                        <a asp-area="" asp-controller="Trace" asp-action="Index">
                            <i class="bi bi-2x bi-search"></i>
                            <span class="nav-text">
                                Trace
                            </span>
                        </a>

                    </li>


                </ul>

               
            


           }
           @if (User.IsInRole("SlaughterHouse"))
           {
                <ul>
                    <li class="has-subnav">
                        <a asp-area="" asp-area="" asp-controller="SlaughterHouse" asp-action="Index">
                            <i class="bi bi-2x bi-info-square-fill"></i>
                            <span class="nav-text">
                                Slaughterhouse Profile
                            </span>
                        </a>

                    </li>
                    <li class="has-subnav">
                        <a asp-area="" asp-controller="SlaughterCattles" asp-action="Index">
                            <i class="bi bi-2x bi-card-checklist"></i>
                            <span class="nav-text">
                                Slaughter List
                            </span>
                        </a>

                    </li>
                    <li class="has-subnav">
                        <a asp-area="" asp-controller="Trace" asp-action="Index">
                            <i class="bi bi-2x bi-search"></i>
                            <span class="nav-text">
                                Trace
                            </span>
                        </a>

                    </li>


                </ul>

                
           }
            <partial name="_LoginPartial" />
        </nav>

        
                    
    }
            @RenderBody()

    @*<footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - rfidProject - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>*@

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    
    

    
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
