@using Microsoft.AspNetCore.Identity
@using rfidProject.Models

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager


@if (SignInManager.IsSignedIn(User))
{

        <ul class="logout">
            <li>
                <a asp-area="Identity" asp-page="/Account/Manage/Index">
                    <i class="bi bi-2x bi-person-circle"></i>
                    <span class="nav-text">
                        @UserManager.GetUserName(User)
                    </span>
                </a>
            </li>
            <li>
                <a asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home")">
                    <i class="bi bi-2x bi-box-arrow-left"></i>
                    <span class="nav-text">
                        Logout
                    </span>
                </a>
            </li>
        </ul>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
